.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 200px; /* Espaço reservado para o menu lateral */
  width: calc(100% - 200px); /* O container ocupa o restante da tela */
  min-height: 50%; /* Garante que o container ocupe toda a altura da tela */
  box-sizing: border-box; 
}

.menuLateral {
  width: 250px; /* Define a largura do Menu Lateral */
}

.content {
  flex-grow: 1; /* Permite que o conteúdo principal ocupe o espaço restante */
  /* padding: 0px; Espaçamento interno */
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
    width: 100%; /* Ocupa 100% da largura em telas menores */
    min-height: auto; /* Ajusta a altura automaticamente para telas menores */
  }
}

/* Ajuste dos grupos de inputs para layout lado a lado */
.dataContainer {
  display: flex;
  justify-content: flex-start; /* Justifica os itens à esquerda */
  margin-bottom: 20px; /* Espaço entre os grupos de dados */
}

/* Adiciona flexibilidade e margem às colunas */
.inputGroup {
  flex: 1; /* Permite que as colunas ocupem igualmente o espaço disponível */
  margin-right: 20px; /* Espaço entre os grupos de dados */
}

/* Remove o espaçamento da última coluna */
.inputGroup:last-child {
  margin-right: 0; 
}

/* Estilo dos inputs e selects */
.inputGroup input,
.inputGroup select {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  background-color: #fff; /* Fundo branco para inputs */
  border: 1px solid #6363639d; /* Borda do input */
  box-sizing: border-box;
  margin-top: 5px; /* Espaçamento acima dos inputs */
  color: black; /* Cor do texto nos inputs */
}

/* Estilo dos inputs ao focar */
.inputGroup input:focus {
  border-color: #007bff; /* Borda azul ao focar */
  outline: none; /* Remove a borda padrão do navegador */
}

/* Estilo dos campos como inputs preenchidos */
.inputField {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 10px; /* Bordas arredondadas */
  background-color: #f0f0f0; /* Cor de fundo como um input */
  border: 1px solid #ccc; /* Borda do input */
  margin-bottom: 10px; /* Espaço entre os campos */
  box-sizing: border-box; /* Inclui padding e border na largura total */
  color: #333; /* Cor do texto */
}


