.main {
  display: flex;
}

.content {
  flex: 1; /* Faz o conteúdo ocupar o espaço restante */
  padding: 20px; /* Espaçamento interno */
}

.integrantesContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que os cartões se ajustem em múltiplas linhas */
  gap: 20px; /* Espaçamento entre os cartões */
  justify-content: center; /* Centraliza os cartões na linha */
}

.integranteCard {
  background-color: #f9f9f9; /* Fundo claro para os cartões */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 10px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  width: 200px; /* Largura do cartão */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para os cartões */
}

.integranteImage {
  width: 100%; /* Faz a imagem ocupar 100% da largura do cartão */
  height: 150px; /* Define uma altura fixa para a imagem */
  border-radius: 10px; /* Bordas arredondadas na imagem */
  object-fit: cover; /* Corta a imagem para preencher a área */
}


/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .integrante {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .integrante img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .integrante h2, .integrante p {
    margin: 0;
  }
  
  .socialIcons a {
    color: #000;
    margin: 0 10px;
    font-size: 24px;
  }
  
  .socialIcons a:hover {
    color: #00a1fc; /* Cor de hover 
  }
   */